@import "bootstrap/dist/css/bootstrap.min.css";
/* custom nhẹ */
.container-narrow { max-width: 980px; }

.ant-table-column-sort {
  font-weight: normal !important;
  color: inherit !important;
  background: none !important;
}

.product-thumb {
  transition: transform 0.2s ease;
}
.product-thumb:hover {
  transform: scale(1.8);
  z-index: 10;
}